In [2]:
tupla_numeros = (10,20,30)

In [6]:
tupla_nova = 10,20,30

In [ ]:
nova_tupla = tuple('teste')

In [7]:
nova_tupla
('t','e','s','t','e')

NameError: name 'nova_tupla' is not defined

In [4]:
tupla_numeros
(10,20,30)

(10, 20, 30)

In [8]:
tupla_nomes = ('Marlene', 'Zezinho','Marlene','Cibele','Zuely')

In [ ]:
Tupla_nomes.count('Marlene')

In [9]:
Print(tupla_nomes.count('suely'))

NameError: name 'Print' is not defined

In [10]:
Print(tupla_nomes.count('Zezinho'))

NameError: name 'Print' is not defined

In [ ]:
#crie uma tupla com os seguintes elementos: 1,2,3,4,4,4,5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [29]:
tupla_nova = (1,2,3,4,4,4,5)
print(tupla_nova.count(4))

3

In [23]:
dicio = {'chave': 'valor'}

In [24]:
print(type(dicio))

<class 'dict'>

In [27]:
#Oque acontece em cada sequência de comandos a seguir?

d={'laranjas': 15, 'bananas':35,'siriguelas': 12}

In [28]:
d['bananas']

35

In [32]:
d['pitomba'] = 20
len(d)

4

In [31]:
'pitomba' in d

True

In [34]:
del d['laranjas']

In [36]:
frutas = ["pinha", "oti coró", "jaca", "tamarindo"]
print([1,2] + [3,4])
print(frutas + [6,7,8,9])

[1, 2, 3, 4]
['pinha', 'oti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [40]:
print([0]*4)
print([1,2,["oi","tchau"]]*2)

[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]

In [33]:
'laranjas' in d

True